:root {
  --bg2: #4c4f75;
}

.dataFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dataBox {
  padding: 5% 20%;
  margin: 5%;
}

.dataHeader {
  text-align: center;
  font-size: 6rem;
}

.dataDescription {
  text-align: center;
}

.aboutUsMain {
  text-align: left;
  background-color: var(--bg2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.aboutUsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8%;
}

.aboutUsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutUsTitle {
  text-align: center;
  background-color: var(--bg2);
  color: white;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.aboutUsText {
  display: none;
  color: whitesmoke;
  font-size: large;
  padding: 2%;
  background-color: var(--bg2);
  border-top: 1px solid white;
}

.aboutUsSector {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

@media (max-width: 950px) {
  .dataFields {
    grid-template-columns: 1fr;
  }

  .dataHeader {
    text-align: center;
    font-size: 4rem;
  }

  .dataDescription {
    text-align: center;
  }

  .motivation .motto {
    font-size: 2rem;
  }

  .aboutUsMain {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .aboutUsColumn {
    margin-bottom: 4%;
    margin-top: 4%;
  }
}