@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }

  85% {
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slideInLeft {
  animation: slideInLeft 0.8s ease-in forwards;
}

.delayAnimation-100 {
  animation-delay: 100ms;
}

.delayAnimation-200 {
  animation-delay: 200ms;
}

.delayAnimation-300 {
  animation-delay: 300ms;
}

.delayAnimation-400 {
  animation-delay: 400ms;
}

.delayAnimation-500 {
  animation-delay: 500ms;
}

.delayAnimation-600 {
  animation-delay: 600ms;
}

#employeeCountBox:hover {
  background-image: url("../assets/employeesAboutUs.jpg");
  background-size: cover;
  border-radius: 25px;
  color: white;
}

#revenueBox:hover {
  background-image: url("../assets/revenueAboutUs.jpg");
  background-size: cover;
  border-radius: 25px;
  color: white;
}

.infoBox:hover {
  backdrop-filter: brightness(80%);
  border-radius: 25px;
}