div.navpoint {
    background-image: url('../assets/Banenr.png');
    width: 100%;
    height: 250px;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease-in-out;
}

div.navpoint:hover {
    background-image: url('../assets/BTeam.png');
    width: 100%;
    height: 250px;
    position: relative;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease-in-out;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.service-box {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.service-box h2 {
    margin-bottom: 10px;
    word-wrap: break-word;
    color: #3bba9c;
    text-align: center;
}

.service-box p {
    font-size: 1em;
    margin-bottom: 10px;

    width: 100%;
    color: white;
}

.rundgang {
    box-shadow: 0 3px 0 3px #14151d91;
    width: 850px;
    height: 480px;
    margin-bottom: 20px;
}

@media (max-width: 650px) {

    .rundgang {
        box-shadow: 0 3px 0 3px #14151d91;
        width: 350px;
        height: auto;
    }

    .service-box {
        width: 100%;
    }

}

  