.kontaktTitle {
    font-size: 2em;
    color: #3bba9c;
    text-align: center;
    margin: 2%;
}

.text-kontakt {
    max-width: none;
}

.kontaktBox {
    width: 70%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.link {
    background-color: #3bba9c;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.centerBtn {
    display: flex;
    justify-content: center;
}

#map {
    width: 100%;
    height: 400px;
}

.leaflet-control {
    background-color: transparent;
    border: none;
}

.leaflet-control-attribution,
.leaflet-control-layers-toggle {
    background-color: rgba(255, 255, 255, 0.7);
}

.kontaktBox input[type="text"],
.kontaktBox input[type="email"],
.kontaktBox textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    font-size: 1em;
}

.kontaktBox label {
    color: white;
    margin-bottom: 5px;
    display: block;
}

.kontaktBox input[type="submit"] {
    background-color: #3bba9c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.kontaktBox input[type="submit"]:hover {
    background-color: #33a58c; 
}


.kontaktBox .explanation {
    color: white;
    font-style: italic;
    margin-bottom: 15px;
}


@media screen and (max-width: 600px) {
    .kontaktBox input[type="text"],
    .kontaktBox input[type="email"],
    .kontaktBox textarea {
        width: 100%; 
    }
}

.kontaktBox input[type="tel"] {
    width: 100%; 
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
}


.contact-preference {
    display: flex;
    align-items: center;
    justify-content: start;
}

.contact-preference label,
.contact-preference input {
    margin-right: 10px;
}