
.text-team {
    font-size: 1.1rem;
    color: white;
    max-width: none;
    text-align: left;
}

.review {
    width: 70%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.boxes img {
    max-width: 150px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}


.boxes h3 {
    margin-top: 0;
}

#dynamic-employees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4%;
    margin-left: 15%;
    margin-right: 15%;
}

.boxTitleTeam {
    grid-area: 2 / 2 / 3 / 3;
    color: white;
    background-color: #43455c;
    display: flex;
    justify-self: center;
    align-self: center;
}

.text-team-klein {
    text-align: center;
    color:white; 
}
.employee-box {
   width: 100%;
    text-align: center;
    border-radius: 25px;
    background-color: #43455c;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  @media (max-width: 650px)  {
    .employee-box {
        width: 80%; 
        margin-left:10%; 
        margin-right: 10%;
    }
}